@inherits LayoutComponentBase
@using Blazored.LocalStorage
@inject ILocalStorageService localStorage

<div class="@currentTheme">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <button @onclick="ToggleTheme">
                    @(currentTheme == "dark-mode" ? "🌞 Light Mode" : "🌙 Dark Mode")
                </button>

                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private string currentTheme = "light-mode";

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender)
        {
            var savedTheme = await localStorage.GetItemAsync<string>("theme");

            if (savedTheme != null)
            {
                currentTheme = savedTheme;
                // Komponente nochmal mit den neuen Daten rendern.
                StateHasChanged();
            }
        }
    }

    private async Task ToggleTheme()
    {
        currentTheme = currentTheme == "light-mode" ? "dark-mode" : "light-mode";
        await localStorage.SetItemAsync("theme", currentTheme);
    }
}
